.section{
    background: #EEE;
}
.section_header{
    text-align: center;
    color:#007765;
    font-size:64px;
    margin-top:48px;
}
.section_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.section_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap:82px;
    column-gap:212px;
    place-self: center;
    margin-top:56px;
    margin-bottom:122px;
}