.container{
  max-width:1110px;
  height:100%;
  margin:0 auto;
  padding:0 65px;
}
.main{
  display: flex;
  flex-direction: column;
}
.main_content{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main_wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:48px;
}
.main_header{
  font-size:64px;
  color:#007765;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main_text{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 100%;
  font-size:32px;
  width: 100%;
  margin-top:16px;
  margin-bottom:92px;
}




