.header{
  height:84px;
  background-color:#007765;
  color:#fff;
  font-size:24px;
}
.header_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;
  height: 100%;
  justify-content: space-between;
}
.header_block{
  display: flex;
  flex-direction: row;
  gap:5px;
}
.container{
  max-width:1170px;
  height:100%;
  margin:0 auto;
  padding:0 65px;
}
.main_content{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.main_wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_header{
  font-size:64px;
  color:#007765;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main_text{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.image_block{
  width:100%;
  height:403px;
}

.footer{
  height:176px;
  color:#fff;
  background-color: #333333;
}
.footer_wrapper{
  display: flex;
  width:100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}